# Modified by mqmqgo, 2026-09-25: https submodule URLs, MQMQgo fork
[submodule "3rdparty/MagiskModuleTemplate"]
	path = 3rdparty/MagiskModuleTemplate
	url = https://github.com/eritpchy/MagiskModuleTemplate.git
[submodule "3rdparty/FingerprintIdentify"]
	path = 3rdparty/FingerprintIdentify
	url = https://github.com/MQMQgo/FingerprintIdentify.git
